.advantages__list {
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}

.advantages__promo {
  padding: 53px 18px 40px 18px;
  background-color: @color-bg-blue;
}

.advantages__promo--bridge {
  padding: 40px 18px 40px 18px;
}

@media (max-width: @mobile-width-only) {
  .advantages__promo--divider {
    background-image: url("../img/divider-advantages.svg");
    background-position: top -16px center;
    background-repeat: no-repeat;
  }
}

.advantages__image-city {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

.advantages__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}


.advantages__description {
  margin: 0;
  padding: 0 14px;
}

.advantages__description--decor {
  padding: 0 10px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.advantages__item-bonus-title {
  color: @color-title;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 16px;
}

@media (max-width: @mobile-width-only) {
  .advantages__title br {
    display: none;
  }

  .advantages__item--nopicture {
    position: relative;
  }

  .advantages__item--decoration::after {
    content: "";
    position: absolute;
    border: solid 1px #d6d6d6;
    width: 284px;
    top: -30px;
    left: 0;
  }
}

.advantages__item-bonus-description {
  margin: 0;
  margin-bottom: 33px;
}

.advantages__list-bonus {
  background-color: @color-white;
  color: @color-description;
  list-style: none;
  padding: 31px 20px 0 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.advantages__item-bonus {
  text-align: start;
  padding-left: 65px;
  position: relative;
}

.advantages__item-bonus:last-child {
  padding-bottom: 12px;
}

@media (max-width: @mobile-width-only) {
  .advantages__item-bonus--living::before {
    background-image: url("../img/living-icon.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    content: "";
    position: absolute;
    top: -9px;
    left: 17px;
  }

  .advantages__item-bonus--food::before {
    background-image: url("../img/food-icon.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    content: "";
    position: absolute;
    top: -9px;
    left: 17px;
  }

  .advantages__item-bonus--gifts::before {
    background-image: url("../img/gift-icon.svg");
    background-repeat: no-repeat;
    background-size: 50px 40px;
    width: 40px;
    height: 40px;
    content: "";
    position: absolute;
    top: -9px;
    left: 12px;
  }

  .advantages__title br {
    display: none;
  }

  .advantages__item .advantages__description--mobile::before {
    content: "\A";
    white-space: pre;
  }

  .advantages__item-bonus .advantages__description--mobile::before {
    content: "\A";
    white-space: pre;
  }

  .advantages__promo .advantages__description--mobile::before {
    content: "\A";
    white-space: pre;
  }
}

.advantages__list-nopicture {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 15px 18px 28px 18px;
  text-align: center;
  background-color: @color-bg-grey;
  margin: 0;
}

.advantages__item--picture {
  color: @color-white;
}

.advantages__item--nopicture {
  background-color: @color-bg-grey;
  margin-bottom: 37px;
}

.advantages__item--nopicture:last-child {
  margin-bottom: 0;
}

.advantages__item--nopicture .advantages__title {
  color: @color-title;
  font-family: @main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.advantages__counter {
  display: block;
  margin-bottom: 17px;
}

.advantages__item--nopicture .advantages__description,
.advantages__counter--nopicture {
  color: @color-description;
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.advantages__item--nopicture:last-child .advantages__description {
  margin-bottom: 0;
}


@media (min-width: @tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__title {
    font-size: 21px;
    margin-bottom: 14px;
    padding: 0 20px;
  }

  .advantages__item-bonus-title {
    font-size: 21px;
    margin-bottom: 22px;
  }

  .advantages__item--nopicture .advantages__title {
    font-size: 21px;
    padding-top: 8px;
  }

  .advantages__wrapper-picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__wrapper-nopicture {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item--nopicture {
    width: 256px;
    margin: 0;
    padding: 35px 33px 29px 33px;
  }

  .advantages__promo {
    width: 256px;
    padding: 55px 33px 28px 33px;
  }

  .advantages__counter {
    margin-bottom: 23px;
  }

  .advantages__image-city {
    width: 512px;
  }

  .advantages__image-bridge {
    width: 512px;
    vertical-align: bottom;
  }

  .advantages__list-bonus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item-bonus {
    width: 256px;
    text-align: center;
    padding: 156px 33px 62px 33px;
  }

  .advantages__item-bonus--living {
    background-image: url("../img/living-icon.svg");
    background-repeat: no-repeat;
    background-size: 78px 72px;
    background-position: top 60px right 50%;
  }

  .advantages__item-bonus--food {
    background-image: url("../img/food-icon.svg");
    background-repeat: no-repeat;
    background-size: 78px 72px;
    background-position: top 60px right 50%;
  }

  .advantages__item-bonus--gifts {
    background-image: url("../img/gift-icon.svg");
    background-repeat: no-repeat;
    background-size: 79px 80px;
    background-position: top 60px right 50%;
  }

  .advantages__item-bonus-description {
    margin: 0;
    padding: 0 10px;
  }

  .advantages__item--nopicture .advantages__description {
    padding: 0 5px;
  }

  .advantages__item--nopicture .advantages__description--decortablet {
    padding: 0;
  }

  .advantages__item-bonus-description--decor {
    padding: 0 17px;
  }

  .advantages__list-nopicture {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .advantages__wrapper-picture--reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__title {
    padding: 0 75px;
  }

  .advantages__description {
    padding: 0 34px;
  }

  .advantages__description--decor {
    padding: 0 10px;
  }

  .advantages__item--nopicture .advantages__description--decordesktop {
    padding: 0 12px;
  }

  .advantages__item-bonus-description--decor {
    padding: 0;
  }

  .advantages__wrapper-picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__wrapper-nopicture {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item--nopicture {
    width: 400px;
    padding: 45px 50px 38px 50px;
  }

  .advantages__promo {
    width: 400px;
    padding: 52px 50px 51px 50px;
  }

  .advantages__image-city {
    width: 800px;
  }

  .advantages__image-bridge {
    width: 800px;
  }

  .advantages__list-bonus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item-bonus {
    width: 400px;
    padding: 172px 56px 70px 62px;
  }

  .advantages__item-bonus--living {
    background-image: url("../img/living-icon.svg");
    background-repeat: no-repeat;
    background-size: 80px 76px;
    background-position: top 68px right 50%;
  }

  .advantages__item-bonus--food {
    background-image: url("../img/food-icon.svg");
    background-repeat: no-repeat;
    background-size: 80px 76px;
    background-position: top 68px right 50%;
  }

  .advantages__item-bonus--gifts {
    background-image: url("../img/gift-icon.svg");
    background-repeat: no-repeat;
    background-size: 92px 100px;
    background-position: top 58px right 50%;
  }

  .advantages__promo .advantages__description--desktop::before {
    content: "\A";
    white-space: pre;
  }
}
