.hotel-search {
  background-color: @color-white;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.hotel-search__title {
  color: @color-title;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 38px 29px 20px 29px;
}

.hotel-search__description {
  color: @color-description;
  margin: 0;
  padding: 0 28px 32px 28px;
}

.hotel-search__button {
  display: block;
  padding: 16px 49px;
  text-align: center;
  max-width: 284px;
  margin: 0 auto;
  margin-bottom: 49px;
}

.hotel-search__map {
  position: relative;
  z-index: 1;
}

.hotel-search__map--marker::before {
  background-image: url("../img/map-marker.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  background-position: center;
  bottom: 168px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 3;
  content: "";
}

@media (max-width: @mobile-width-only) {
  .hotel-search__description--tablet {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .hotel-search {
    display: flex;
    flex-direction: column;
  }

  .hotel-search__title {
    padding: 58px 166px 0 166px;
    margin-bottom: 34px;
    font-size: 30px;
  }

  .hotel-search__description--mobile {
    display: none;
  }

  .hotel-search__description {
    padding: 0 150px;
    margin-bottom: 44px;
  }

  .hotel-search__button {
    max-width: 458px;
    padding: 16px 136px;
    margin-bottom: 55px;
  }

  .hotel-search__map {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .hotel-search {
    display: flex;
    flex-direction: column;
  }

  .hotel-search__map {
    width: 1200px;
  }

  .hotel-search__title {
    padding: 60px 383px 0 383px;
    margin-bottom: 33px;
  }

  .hotel-search__description {
    padding: 0 381px;
    margin-bottom: 44px;
  }

  .hotel-search__button {
    max-width: 458px;
    padding: 17px 136px;
    margin-bottom: 64px;
  }
}
