.hotel-search {
  background-color: @color-white;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search__title {
  color: @color-title;
  font-size: 21px;
  line-height: 26px;
}

.hotel-search__description {
  color: @color-description;
}
