.main-navigation {
  position: relative;
  font-family: @main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.main-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: @color-bg-blue;
}

.main-navigation__link {
  position: relative;
  display: block;
  padding: 17px 83px 12px 81px;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-white;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.main-navigation__toggle {
  position: absolute;
  width: 23px;
  height: 22px;
  top: 10px;
  right: 10px;
  display: block;
  cursor: pointer;
  border: none;
  background-color: @color-white;
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 23px;
  height: 4px;
  background-color: @color-bg-blue;
  box-shadow: 0 9px 0 0 @color-bg-blue, 0 18px 0 0 @color-bg-blue;

}

.main-navigation--opened .main-navigation__toggle {
 background-color: @color-bg-blue;
 z-index: 2;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 22px;
    height: 4px;
    background-color: @color-white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: @mobile-width-only) {
  .main-navigation--closed .main-navigation__item {
    display: none;

  }
}

@media (min-width: @tablet-width) {
  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__wrapper {
    width: 668px;
    margin: 0 auto;
  }

  .main-navigation__list {
    display: flex;
    justify-content: space-between;
    background-color: @color-white;
  }

  .main-navigation__link {
    color: @color-title;
  }

  .main-navigation__link--current {
    color: @color-nav-link-current;
  }
}

@media (min-width: @desktop-width) {
  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__wrapper {
    width: 1020px;
    margin: 0 auto;
  }

  .main-navigation__list {
    display: flex;
    justify-content: space-between;
    background-color: @color-white;
  }

  .main-navigation__link {
    color: @color-title;
  }

  .main-navigation__link--current {
    color: @color-nav-link-current;
  }
}
