.main-navigation {
  font-family: @main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.main-navigation__list {
  list-style: none;
  background-color: @color-bg-blue;
}

.main-navigation__link {
  text-transform: uppercase;
  text-decoration: none;
  color: @color-white;
}
