.main-footer__wrapper {
  background-color: @color-white;
}

.main-footer__slogan {
  font-family: @main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  list-style: none;
  text-align: center;
}

.slogan__link {
  color: @color-title;
  text-decoration: none;
}

.main-footer__copyright {
  color: @color-title;
  text-align: center;
  text-transform: uppercase;
}
