.main-header {
  background-color: @color-white;
  color: #000000;

}
.main-navigation{
  font-family: @main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;



}
.main-navigation__list{
  list-style: none;
}

.main-navigation__link{
  text-transform: uppercase;
  text-decoration: none;
  color: @color-title;
}
.main-navigation__link--current{
  color: #766357;

}
