.media__list {
  list-style: none;
  padding: 0;
}

.media__item {
  background-color: @color-white;
}

.media__photo-description {
  font-family: @main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-title;
  text-transform: uppercase;
}

.media__author-title {
  color: @color-description;
  font-size: 14px;
  line-height: 21px;
}

.media__like-counter {
  font-family: @main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: @color-title;
}
