.movie {
  background-color: @color-white;
  padding: 0 20px;
  position: relative;
}

@media (max-width: @mobile-width-only) {
  .movie br {
    display: none;
  }
}

.movie__title {
  .mixin-title();
  margin: 0;
  text-align: center;
  padding-bottom: 28px;
}

.movie__description {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @color-description;
  text-align: center;
  padding-left: 8px;
  padding-right: 6px;
  margin: 0;
  padding-bottom: 38px;
}

.movie__button {
  background-image: url("../img/play-button.svg");
  background-color: transparent;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 48px;
  height: 54px;
  position: absolute;
  border: none;
  z-index: 2;
}

@media (min-width: @tablet-width) {
  .movie {
    padding: 0 60px;
  }

  .movie__photo {
    width: 648px;
    height: 500px;
    margin-bottom: 40px;
  }

  .movie__title {
    font-family: @main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }

  .movie__description {
    padding: 0 100px 91px 100px;
    margin: 0;
  }

  .movie__button {
    bottom: 269px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: @desktop-width) {
  .movie {
    padding: 0;
    padding-top: 62px;
    padding-bottom: 83px;
  }

  .movie__description {
    padding: 0 376px 90px 376px;
    margin: 0;
  }

  .movie__photo {
    width: 1200px;
    padding: 0 200px 0 200px;
    margin: 0;
  }
  .movie__button {
    bottom: 312px;
    left: 50%;
    transform: translateX(-50%);
  }
}
