.movie {
  background-color: @color-white;
  padding: 0 20px;
}

.movie__title {
  .mixin-title();
}

.movie__description {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @color-description;
}

@media (min-width: @tablet-width) {
  .movie {
    padding: 0 60px;
  }

  .movie__photo {
    width: 648px;
  }
}

@media (min-width: @desktop-width) {
  .movie {
    padding: 200px;
  }

  .movie__photo {
    width: 800px;
  }
}
