.promo--inner {
  background-image: url("../img/catalog-promo.jpg");
  background-repeat: no-repeat;
  background-size: 320px 160px;
}

.promo {
  background-image: url("../img/main-promo.jpg");
  background-repeat: no-repeat;
  background-size: 320px 390px;
}

@media (min-width: @tablet-width) {
  .promo {
    background-size: 768px 390px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    background-size: 1200px 390px;
  }
}
