.form {
  background-color: @color-white;
}

.form__title {
  .mixin-title();
}

.form__text {
  color: @color-description;
  text-transform: uppercase;
}

.form__tooltip {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
}

.form__text-check {
  font-family: @main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: @color-title;
}

.form__input {
  font-family: @main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-title;
}

.form__input::placeholder {
  font-family: @main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}
