.slogan {
  background-color: @color-white;
  padding: 34px 18px;

  @media (min-width: @tablet-width) {
    padding: 51px 124px 56px 124px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 360px 44px 356px;
  }
}

@media (min-width: @tablet-width) {
  .slogan__title br {
    display: none;
  }
}

.slogan__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @color-title;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    margin-bottom: 28px;
  }
}

.slogan__description {
  text-align: center;
  text-transform: uppercase;
  color: @color-description;
  margin: 0;
}


.slogan__link {
  color: @color-title;
  text-decoration: none;
}
