.slogan {
  background-color: @color-white;
}

.slogan__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @color-title;
}

.slogan__description {
  text-align: center;
  text-transform: uppercase;
  color: @color-description;
}
