body {
  background-color: #f2f2f2;
  color: @color-title;
  font-family: @main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
